* {
  box-sizing: border-box;
}
body {
  background: #f3f3f3;
}
.App {
  display: flex;
}
.left {
  width: 71%;
}
.right {
  width: 27%;
  margin-left: 1rem;
}

@media only screen and (max-width: 1000px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .App {
    flex-direction: column;
  }
}

@media only screen and (max-width: 452px) {
  html {
    font-size: 12px;
  }
}
